.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #394D59;
    color: #fff;
}

@media (min-width: 769px) {
    .navbar {
        justify-content: flex-start;
    }

    .nav-active {
        display: none !important;
    }
}

.logo {
    color: #fff;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    height: 6em;
    margin: 0;
}

.nav-links li {
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-links a {
    padding-left: 20px;
    color: #fff;
    text-decoration: none;
    text-align: left;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 1em;
}

.burger div {
    width: 2rem;
    height: 0.25rem;
    background-color: #fff;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .burger {
        display: flex;
    }
}

.nav-active {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    background-color: #394D59;
    width: 100%;
    top: 4em;
    left: 0;
    margin: 0;
    padding: 0;
    height: auto;
}

.nav-active li {
    margin: 0;
}

.nav-active a {
    display: flex; /* Add this */
    align-items: center; /* Add this */
    padding: 20px;
    width: 100%; /* Add this */
}

.nav-active a:hover {
    background-color: #555; /* Change this to the color you want */
    color: #fff; /* Change this to the color you want */
}

.logo {
    height: 50px; /* Set the height to match the navbar's height */
    padding: 10px; /* Add some padding to center the logo */
    object-fit: contain; /* Ensure the logo scales correctly */
}

.active {
    background-color: #F27405; /* Change this to the color you want */
}